.container{
    display: flex;
    align-items: center;
  
  }

  .menu{
    width: 1000px;
    margin: 0 auto;
    /* margin-top: 20%; */
    border-radius: 8px;
  }

 .menu .head{
    display: flex;   
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 150px;
  
    
  }

  .icon1{
    color: white;
    background: #3F87C2;
    padding: 8px;
    border-radius: 7px;
    margin-right: 5px;
  }

  .icon2{
    color: white;
    background: gray;
    padding: 8px;
    border-radius: 7px;
    margin-right: 5px;
  }

  .icon3{
    color: white;
    background: gray;
    padding: 8px;
    border-radius: 7px;
    margin-right: 5px;
  }

  .title{
   height: 21px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 21px;
color: #3F87C2;
  }

.suntitle{
height: 18px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #B9B9C3;

  }

  .icon{
    display: flex;
    align-items: center;
  }

  hr{
    margin-top: 15px;
    width: 80%;
    margin-left: 10%;
  }


/* BodyStyle */


