.packageBody{
    margin-top: 10px;
}

.packageBodyHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
}

.head{
    display: flex;
    align-self: center;
}

.head h4{
    margin-top: 5px;
    height: 29px;
left: 0%;
right: -8.77%;
top: calc(50% - 29px/2 - 15.5px);

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

/* 1) Theme Color / Heading & Display - Text */

color: #5E5873;
}

.packageBodyHead p{
    width: 118px;
height: 24px;
left: 1016px;
top: 273px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

font-feature-settings: 'tnum' on, 'lnum' on;

color: #3F87C2;
cursor: pointer;
}

.subHead{
    height: 21px;
left: 0%;
right: 51.88%;
top: calc(50% - 21px/2 + 19.5px);
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #6E6B7B;
margin-left: 150px;
margin-top: 8px;

}

.package{
height: 24px;
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
font-feature-settings: 'tnum' on, 'lnum' on;
margin-left: 150px;
color: #697386;
margin-top: 150px;

}


.price{
height: 44px;
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
letter-spacing: -0.02em;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #3F87C2;
margin-left: 150px;
}


.totel{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.totel .left{
    font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #4B4B4B;
}

.subTotal{
    text-align: end;
}

.subTotal p{

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #4B4B4B;
margin-top: 10px;
}

.column{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.column2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.column2 p{
    color: gray;


}